services:
  postgresdb:
    image: postgres:16
    volumes:
      - postgresdb:/var/lib/postgresql/data
      - ./:/Docker-goalsApp2
    container_name: postgres-db
    networks:
      - net5-subnet
    env_file:
      - postgres.env
    #environment:
      #POSTGRES_DB: goalsdb
      #POSTGRES_USER: user5
      #POSTGRES_PASSWORD: pass5
    ports:
      - 5432:5432

  adminer:
    depends_on:
      - postgresdb
    image: adminer
    ports:
      - 8080:8080
    networks:
      - net5-subnet

    

  flask-app:
    build: 
      context: .
      dockerfile: Dockerfile
    image: ${DOCKERHUB_USERNAME}/flask:v5
    container_name: db_app5
    ports:
      - 5043:5000
    volumes:
      - logs:/app/logs
    env_file:
      - flask-app.env
    #environment:
      #DB_HOST: postgres-db
      #DB_NAME: goalsdb
      #DB_USER: user5
      #DB_PASSWORD: pass5
      #DB_PORT: 5432
    depends_on:
      - postgresdb
    networks:
      - net5-subnet
  
  flask-app2:
    build:
      context: .
      dockerfile: Dockerfile
    image: ${DOCKERHUB_USERNAME}/flask:v6
    container_name: db_app6
    depends_on:
      - postgresdb
      - flask-app
    ports:
      - 5044:5000
      - 5045:5000
    env_file:
      - flask-app.env
    #environment:
     # DB_HOST: postgres-db
      #DB_NAME: goalsdb
      #DB_USER: user5
      #DB_PASSWORD: pass5
      #DB_PORT: 5432
    volumes:
      - log:/app/logs
    networks:
      - net5-subnet

volumes:
  postgresdb:
  logs:
  log:

networks:
  net5-subnet:
    name: net5-subnet

